# Dynamic inventory for AWS EC2
plugin: aws_ec2
regions:
  - us-east-1
filters:
  tag:Project: hospital-management
  tag:Environment: "{{ env | default('dev') }}"
keyed_groups:
  - key: tags['Role']
    prefix: 'role_'
  - key: tags['Environment']
    prefix: 'env_'
compose:
  ansible_host: public_ip_address
  ansible_user: "ubuntu"